<h3><%= @list.title %></h3>

  <div id='list_id' data-list-id= <%= @list.id %>>
  <% @tasks.each do |task| %>
      <p class='task-holder'>
        <span class='just-label'>
          <%= check_box_tag "task_id[#{task.id}]", 0, task.task_check, class: "task-check task-#{task.id}", data: { task_id: task.id } %>
          <%= label_tag "task_#{task.id}", "#{task.description}", class: 'task-description' %>
        </span>

          <span class='task-links'>
            <%= link_to "/lists/#{@list.id}/tasks/#{task.id}/edit", { remote: true, 'data-toggle': 'modal', 'data-target': '#task-modal-window', class: 'edit-icon' } do %>
              <i class='fa fa-pencil' aria-hidden='true'></i>
            <% end %>

            <%= link_to "/lists/#{@list.id}/tasks/#{task.id}", method: :delete, class: 'delete-icon' do %>
              <i class='fa fa-trash' aria-hidden='true'></i>
            <% end %>
          </span>
            <div id='task-modal-window' class='modal hide fade' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true'>
              <div class='modal-dialog' role='document'>
                <div class='modal-content'></div>
              </div>
            </div>
      </p>
  <% end %>
  </div>

<%= link_to 'Add a task', "/lists/#{@list.id}/tasks/new", { remote: true, 'data-toggle': 'modal', 'data-target': '#task-modal-window', class: 'list-link btn btn-secondary' } %>
<div id='task-modal-window' class='modal hide fade' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true'>
  <div class='modal-dialog' role='document'>
    <div class='modal-content'></div>
  </div>
</div>
<p><%= link_to 'Back to lists', root_path, class: 'back-to-lists' %></p>

